<html>
    <head><title>Empleo Joven</title></head>
    <body>
     
    <h1>Listado de Turnos</h1>
     
    <table>
        <table>
            <tr>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miercoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sabado</th>
                <th scope="col">Domingo</th>
            </tr>
            <tr>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
                <button type="button">08:30 - 13:00</button>
            </tr>
            <tr>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
                <td>10:00 - 13:00</td>
            </tr>	
            <tr>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
                <td>12:00 - 16:00</td>
            </tr>	
            <tr>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
                <td>13:00 - 16:00</td>
            </tr>	
            <tr>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
                <td>16:00 - 19:00</td>
            </tr>	
            <tr>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
                <td>18:00 - 22:30</td>
            </tr>	
            <tr>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
                <td>19:00 - 22:30</td>
            </tr>
                    
    <tbody>
    </table>
     
    </body>
    </html>